.raw{
float: left;
padding: 0px;
margin: 0px;
height: 200px;
width: 200px;

}
.container li{
margin: 0px;
padding: 0px;
height: 200px;
width: 200px;
list-style: none;
}
.box1{
background-color: #850000;
}